@import '../_project_starter_/style.scss';

body {
  font-family: 'Open Sans', sans-serif;
  overflow: visible;
}

.slider-container {
  @include widthHeight(100vw, 100vh);
  position: relative;
  overflow: hidden;
}

.left-slide {
  @include widthHeight(35%, 100%);
  @include absolutePosition(left, 0, top, 0);
  transition: transform 0.5s ease-in-out;

  & > div {
    @include widthHeight(100%, 100%);
    @include flexSetting(column, center, center);
    color: #fff;
  }

  h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;
  }
}

.right-slide {
  @include widthHeight(65%, 100%);
  @include absolutePosition(left, 35%, top, 0);
  transition: transform 0.5s ease-in-out;

  & > div {
    @include imageSetting;
    @include widthHeight(100%, 100%);
    background-position: center center;
  }
}

button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;

  &:hover {
    color: #222;
  }

  &:focus {
    outline: none;
  }
}

.slider-container .action-buttons {
  button {
    @include absolutePosition(left, 35%, top, 50%);
    z-index: 100;
  }
  .down-button {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .up-button {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
