@import '../_project_starter_/style.scss';

body {
  @include flexSetting(column, center, center);
  @include imageSetting;
  transition: 0.4s ease;
  &::before {
    content: '';
    @include absolutePosition(left, 0, top, 0);
    @include widthHeight(100%, 100vh);
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }
}

.slider-container {
  @include widthHeight(70vw, 70vh);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  overflow: hidden;
}

.slide {
  @include widthHeight(100vw, 100vh);
  @include imageSetting;
  @include absolutePosition(left, -15vw, top, -15vh);
  opacity: 0;
  transition: 0.4s ease;
  z-index: 1;
  &.active {
    opacity: 1;
  }
}

.arrow {
  position: fixed;
  color: #fff;
  background-color: transparent;
  padding: 20px;
  font-size: 30px;
  border: 2px solid orange;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  &:focus {
    outline: 0;
  }
}

.left-arrow {
  left: calc(15vw - 65px);
}

.right-arrow {
  right: calc(15vw - 65px);
}
