@import '../_project_starter_/style.scss';

body {
  font-family: $muliFont;
  flex-direction: row;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  @include imageSetting();
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 700ms ease-in;

  h3 {
    font-size: 24px;
    @include absolutePosition(left, 20px, bottom, 20px);
    margin: 0;
    opacity: 0;
  }

  &.active {
    flex: 5;

    h3 {
      opacity: 1;
      transition: opacity 0.3s ease-in 0.4s;
    }
  }
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
