@import '../_project_starter_/style.scss';

body {
  font-family: 'Open Sans', sans-serif;
  color: #222;
  padding-bottom: 50px;
  height: auto;
  overflow: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  position: fixed;
  background-color: #222;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;

  .container {
    @include flexSetting(row, center, space-between);
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
  }

  ul {
    @include flexSetting(row, center, center);
    list-style-type: none;
  }

  a {
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;

    &.current,
    &:hover {
      color: #c0392b;
    }
  }

  &.active {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

    .container {
      padding: 10px 0;
    }

    a {
      color: #000;
    }
  }
}

.hero {
  background-image: url('https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  @include imageSetting;
  @include flexSetting(column, center, center);
  background-position: bottom center;
  height: 100vh;
  color: #fff;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
  &::before {
    content: '';
    @include absolutePosition(left, 0, top, 0);
    @include widthHeight(100%, 100%);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  h1 {
    font-size: 46px;
    margin: -20px 0 20px;
  }

  p {
    font-size: 20px;
    letter-spacing: 1px;
  }
}

.content {
  h2,
  h3 {
    font-size: 150%;
    margin: 20px 0;
  }

  p {
    color: #555;
    line-height: 30px;
    letter-spacing: 1.2px;
  }
}
