@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli:300,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

body {
  background-color: #22254b;
  font-family: "Poppins", sans-serif;
  height: auto;
  overflow: visible;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: #373b69;
  padding: 1rem;
}

.search {
  background-color: transparent;
  border: 2px solid #22254b;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
}
.search::placeholder {
  color: #7378c5;
}
.search:focus {
  outline: none;
  background-color: #22254b;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.movie {
  width: 300px;
  margin: 1rem;
  background-color: #373b69;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  cursor: pointer;
}
.movie img {
  width: 100%;
}
.movie:hover .overview {
  transform: translateY(0);
}

.movie-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #eee;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}
.movie-info h3 {
  margin-top: 0;
}
.movie-info span {
  background-color: #22254b;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}
.movie-info span.green {
  color: lightgreen;
}
.movie-info span.orange {
  color: orange;
}
.movie-info span.red {
  color: red;
}

.overview {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
  padding: 2rem;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

.modal {
  width: 80vw;
  height: 80vh;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
}
.modal .modalPosterContainer {
  position: absolute;
  left: 35px;
  top: 50px;
}
.modal .modalPosterContainer .modalPoster {
  width: 350px;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.modal .modalPosterContainer .posterData {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.modal .modalPosterContainer .posterData .mpaaRating,
.modal .modalPosterContainer .posterData .runtime {
  color: #373b69;
}
.modal .modalPosterContainer .date {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  color: #373b69;
}
.modal .modalRight {
  position: absolute;
  left: 420px;
  top: 50px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.modal .movieTitleContainer {
  width: 500px;
  height: auto;
}
.modal .movieTitleContainer .modalTitle {
  color: #22254b;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-size: 32px;
}
.modal .movieTitleContainer .tagline {
  color: #22254b;
}
.modal .movieTitleContainer .genreList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 0;
}
.modal .movieTitleContainer .genreList li {
  font-size: 16px;
  list-style-type: none;
  margin-right: 8px;
  color: #373b69;
}

.modalOverview {
  width: 1000px;
  height: auto;
  color: #22254b;
  font-size: 18px;
  margin-top: 24px;
}

.creditsDropdown {
  width: 1000px;
  height: auto;
  border-top: 1px solid #22254b;
  border-bottom: 1px solid #22254b;
  position: relative;
  margin-top: 24px;
  padding: 10px 0;
}
.creditsDropdown .creditsToggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 30px;
  top: 12px;
  width: 30px;
  height: 30px;
  font-size: 16px;
  padding: 0;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  color: #22254b;
}
.creditsDropdown .creditsToggle .fa-times {
  display: none;
}
.creditsDropdown .creditsTitle {
  color: #22254b;
}
.creditsDropdown .creditsContainer {
  margin-left: 12px;
  display: none;
}
.creditsDropdown .directorContainer {
  margin-top: 12px;
}
.creditsDropdown .directorContainer h3 {
  color: #22254b;
}
.creditsDropdown .castContainer {
  margin-top: 12px;
}
.creditsDropdown .castContainer h3 {
  color: #22254b;
}
.creditsDropdown .castList {
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px 20px;
}
.creditsDropdown .castList .actorInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
.creditsDropdown .castList .actorInfo .profilePic {
  width: 50px;
  height: 50px;
  margin-right: 16px;
  object-position: center center;
  object-fit: cover;
  border: 1px solid #22254b;
  border-radius: 50%;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.creditsDropdown .castList .actorInfo .profilePic:hover {
  transform: scale(2.5);
  transition: transform 0.4s ease-in-out;
}
.creditsDropdown .castList .actorInfo .namesContainer p {
  color: #373b69;
  font-size: 14px;
}
.creditsDropdown .castList .actorInfo .namesContainer p:first-child {
  font-size: 16px;
  color: #22254b;
}
.creditsDropdown.active .creditsContainer {
  display: block;
}

.closeModalBtn {
  position: absolute;
  right: 35px;
  bottom: 35px;
  padding: 5px 8px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  border: 2px solid #22254b;
  background-color: #373b69;
  color: #fff;
  font-family: inherit;
  border-radius: 3px;
  cursor: pointer;
}
.closeModalBtn:active {
  transform: translateY(3px);
}