@import '../_project_starter_/style.scss';

body {
  @include flexSetting(column, center, center);
  font-family: 'Roboto', sans-serif;
  background-color: #000;
}

button {
  background-color: purple;
  color: #fff;
  border: 1px solid purple;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px 30px;
  overflow: hidden;
  margin: 10px 0;
  position: relative;

  &:focus {
    outline: none;
  }

  .circle {
    @include widthHeight(100px, 100px);
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: scale 0.5s ease-out;
  }
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
