@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:300,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:300&display=swap');

@mixin flexCenter($flexDirection) {
  display: flex;
  flex-direction: $flexDirection;
  align-items: center;
  justify-content: center;
}

@mixin flexSetting($flexDirection, $alignItems, $justifyContent) {
  display: flex;
  flex-direction: $flexDirection;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

@mixin imageSetting {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin absolutePosition($xProperty, $xValue, $yProperty, $yValue) {
  position: absolute;
  #{$xProperty}: $xValue;
  #{$yProperty}: $yValue;
}

@mixin widthHeight($width, $height) {
  width: $width;
  height: $height;
}

$robotoFont: 'Roboto', sans-serif;
$muliFont: 'Muli', sans-serif;
$latoFont: 'Lato', sans-serif;
$ubuntuFont: 'Ubuntu', sans-serif;
$poppinsFont: 'Poppins', sans-serif;
$montserratFont: 'Montserrat', sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
