@import '../_project_starter_/style.scss';

$left-bg-color: rgba(87, 84, 236, 0.7);
$right-bg-color: rgba(43, 43, 43, 0.8);
$left-btn-hover-color: rgba(87, 84, 236, 1);
$right-btn-hover-color: rgba(28, 122, 28, 1);
$hover-width: 75%;
$other-width: 25%;
$speed: 600ms;

body {
  font-family: $robotoFont;
}

h1 {
  font-size: 4rem;
  color: #fff;
  @include absolutePosition(left, 50%, top, 20%);
  transform: translateX(-50%);
  white-space: nowrap;
}

.btn {
  @include absolutePosition(left, 50%, top, 40%);
  @include flexCenter(row);
  transform: translateX(-50%);
  text-decoration: none;
  color: #fff;
  border: #fff solid 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 15rem;
  padding: 1.5rem;
}

.split.right .container {
  @include widthHeight(100%, 100%);
  position: relative;
  background: #333;
}

.split {
  @include widthHeight(50%, 100%);
  position: absolute;
  overflow: hidden;
  &.left {
    left: 0;
    background: url('ps5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    transition: all $speed ease-in-out;
    .btn:hover {
      background-color: $left-btn-hover-color;
      border-color: $left-btn-hover-color;
    }
    &::before {
      content: '';
      @include widthHeight(100%, 100%);
      position: absolute;
      background-color: $left-bg-color;
      transition: all $speed ease-in-out;
    }
  }

  &.right {
    right: 0;
    background: url('xboxone.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    transition: all $speed ease-in-out;
    .btn:hover {
      background-color: $right-btn-hover-color;
      border-color: $right-btn-hover-color;
    }
    &::before {
      content: '';
      @include widthHeight(100%, 100%);
      position: absolute;
      background-color: $right-bg-color;
      transition: all $speed ease-in-out;
    }
  }
}

.hover-left {
  .left {
    width: $hover-width;
  }
  .right {
    width: $other-width;
  }
}

.hover-right {
  .left {
    width: $other-width;
  }

  .right {
    width: $hover-width;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 2rem;
    top: 30%;
  }
  .btn {
    width: 12rem;
    padding: 1.2rem;
  }
}
